
<main  class="main">
    <div class=" mainContainer">
          
        <div class=" px-0 py-0  formContainer">
            <div class="row d-flex justify-content-center">
                <div class="col-6 text-center">
                  
                    <div class="card" id="content" #content>
                        <h5 class="text-center mb-4">Transfer Ref : {{transfer.transfers[0].transferReference}}</h5>
        
                        <form class="form-card" #TransfertDetailsForm="ngForm" (ngSubmit)="createAccountClicked()">
                            
                           
                           
        
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <label class="form-control-label px-3">IDAgent
                                       </label>
        
                                         <input type="text"
                                         [value]="transfer.sentByAgentWithId"
                                      
                                          id="IdAgent" 
                                          name="IdAgent"
                                          [disabled]="true"
                                           required 
                                           > 
                                        </div>
        
                                       
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <label class="form-control-label px-3">Date d'Emission Transfert
                                      </label> 
                                        
                                        <input type="datetime" 
                                        [value]="transfer.createdAt"
                                        id="dateEmissionTransfert"
                                        name="dateEmissionTransfert" 
                                        [disabled]="true"                                       
                                        > </div>
                                        
                                      
                            </div>
        
                         
                           
        
                            <div class="row justify-content-between text-left">
        
                                <div class="form-group col-sm-6 flex-column d-flex">
        
                                     <label class="form-control-label px-3">Nom Sender
                                       </label> 
                                         
                                         <input type="text"
                                        [value]="transfer.senderFirstName"
                                         id="NomSender" 
                                         name="NomSender" 
                                         [disabled]="true"
                                         required 
                                         pattern="^[a-zA-Z]+"
                                         >
                                 </div>
        
                                 <div class="form-group col-sm-6 flex-column d-flex">
        
                                    <label class="form-control-label px-3">Prenom Sender
                                       </label> 
                                        
                                        <input type="text"
                                        [value]="transfer.senderFirstName"

                                        id="PrenomSender" 
                                        name="PrenomSender" 
                                        [disabled]="true"
                                        required
                                        pattern="[0-9+]+"
                                       >
                                </div>
        
                               
                               
                            </div>

                            <div class="row justify-content-between text-left">
        
                                <div class="form-group col-sm-6 flex-column d-flex">
        
                                     <label class="form-control-label px-3">Nom Beneficiaire
                                       </label> 
                                         
                                         <input type="text"
                                         [value]="transfer.transfers[0].receiverFirstName"
                                         id="NomBeneficiere" 
                                         name="NomBeneficiere" 
                                         [disabled]="true"
                                         required 
                                         pattern="^[a-zA-Z]+"
                                        >
                                 </div>
        
                                 <div class="form-group col-sm-6 flex-column d-flex">
        
                                    <label class="form-control-label px-3">Prenom Beneficiaire
                                       </label> 
                                        
                                        <input type="text"
                                        [value]="transfer.transfers[0].receiverLastName"

                                        id="PrenomBeneficiaire" 
                                        name="PrenomBeneficiaire" 
                                        [disabled]="true"
                                        required
                                        pattern="[0-9+]+"
                                       >
                                </div>
        
                               
                               
                            </div>

                            <div class="row justify-content-between text-left">
        
                                <div class="form-group col-sm-6 flex-column d-flex">
        
                                     <label class="form-control-label px-3">Montant Du Transfert
                                       </label> 
                                         
                                         <input type="text"
                                         [value]="transfer.transfers[0].Amount"

                                         id="MontantTransfert" 
                                         name="MontantTransfert" 
                                         [disabled]="true"
                                         required 
                                         pattern="^[0-9.]"
                                       >
                                 </div>
       
        
                                 <div class="form-group col-sm-6 flex-column d-flex">
        
                                    <label class="form-control-label px-3">Etat Du Transfert
                                       </label> 
                                        
                                        <input type="text"
                                        [value]="transfer.transfers[0].status"
                                        id="EtatTransfert" 
                                        name="EtatTransfert" 
                                        [disabled]="true"
                                        required
                                        pattern="^[a-zA-Z]+"
                                      >
                                </div>
        
                               
                               
                            </div>
                           

                           
                                <form class="form-card" #TransfertDetailsForm="ngForm" (ngSubmit)="createAccountClicked()">
                                  <div class="row justify-content-between text-left" *ngIf="((transfer.transfers[0].status === TransferStatus.ASERVIR  ) && payTransferButtonClicked )">

                        
                                  <div class="form-group col-sm flex-column d-flex">
        
                                    <label class="form-control-label px-3">Frais Transfert
                                      </label> 
                                        
                                        <input type="text"
                                        [value]="transfer.transfers[0].ransferCost"
  
                                        id="fraisdeTransfert" 
                                        name="fraisdeTransfert" 
                                        [disabled]="true"
                                        required 
                                        pattern="^[0-9.]"
                                      >
                                </div>
                                  </div>
                            <div class="row text-left" *ngIf="((transfer.transfers[0].status === TransferStatus.ASERVIR  ) && payTransferButtonClicked )" >
        
                                <div class="form-group col-sm flex-column d-flex">
        
                                    <label class="form-control-label px-3"> motif de restitution
                                        <span class="text-danger"> *</span></label> 
                                        
                                     
                                            <select id="motifRestituion" 
                                           [(ngModel)]="transfer.transfers[0].motifRestitution"
                                            #TypePieceIdentity="ngModel"
                                            name="motifRestituion"
                                            required
                                           
                                             >
                                                <option *ngFor="let motifRestituion of motifdeRestitution" value="{{motifRestituion}}" >{{motifRestituion}}</option>
                                            </select>
                                 </div>
                            </div>
                                 <div class="form-group col-sm flex-column d-flex"  *ngIf="transfer.transfers[0].motifRestitution ==='Autre' && payTransferButtonClicked">
        
                                    <label class="form-control-label px-3">saisir Motif
                                       </label> 
                                        
                                        <input type="text"
                                        [(ngModel)]="transfer.transfers[0].motifRestitution"
                                        id="saisirlemotif" 
                                        name="saisirlemotif" 
                                        [disabled]="false"
                                        required
                                        pattern="^[A-Z0-9]+"
                                      >
                               
                            </div>
                            </form>
                            <form class="form-card" #TransfertDetailsForm="ngForm" (ngSubmit)="createAccountClicked()">
                         
                        <div class="row text-left" *ngIf="((transfer.transfers[0].status === TransferStatus.ASERVIR  ) && restituerClicked )" >
    
                            <div class="form-group col-sm flex-column d-flex">
    
                                <label class="form-control-label px-3"> motif de restitution
                                    <span class="text-danger"> *</span></label> 
                                    
                                 
                                        <select id="motifRestituion" 
                                       [(ngModel)]="transfer.transfers[0].motifRestitution"
                                        #TypePieceIdentity="ngModel"
                                        name="motifRestituion"
                                        required
                                       
                                         >
                                            <option *ngFor="let motifRestituion of motifdeRestitution" value="{{motifRestituion}}" >{{motifRestituion}}</option>
                                        </select>
                             </div>
                        </div>
                             <div class="form-group col-sm flex-column d-flex"  *ngIf="transfer.transfers[0].motifRestitution==='Autre' && restituerClicked">
    
                                <label class="form-control-label px-3">saisir Motif
                                   </label> 
                                    
                                    <input type="text"
                                    [(ngModel)]="transfer.transfers[0].motifRestitution"
                                    id="saisirlemotif" 
                                    name="saisirlemotif" 
                                    [disabled]="false"
                                    required
                                    pattern="^[A-Z0-9]+"
                                  >
                           
                        </div>
                        </form>
                            <div class="row justify-content-center mt-5">
        
                                <div class="form-group col-sm">
                                    
                                   <button type="submit" class="btn btn-success btn-success text-white" *ngIf="isAdmin && !isAgent"
                                    [disabled]="restituerClicked" (click)="payTransfertClicked()">{{((transfer.transfers[0].status === TransferStatus.ASERVIR  ) && payTransferButtonClicked) ? "Confirme Extourne": "Extourne"}}</button> 
                                    
                                    
                                    <button type="submit" class="btn btn-success btn-success text-white" *ngIf="!isAdmin && isAgent"
                                    [disabled]="payTransferButtonClicked" (click)="RestituerClicked()">{{((transfer.transfers[0].status === TransferStatus.ASERVIR  ) && restituerClicked) ? "Confirme Restituer": "Restituer"}}</button> 
                                 
                                    
                                    <button type="submit" class="btn btn-primary" (click)="changeTansfertState()" *ngIf="isAdmin && !isAgent" >{{servirButton}}</button>
                                    
                                    
                                    <button type="submit" class="btn btn-danger"
                                    [disabled]="false" (click)="goBack()">Cancel</button>
                                
                                
                                    <button class="btn btn-warning">Download PDF</button>
                                </div>
        
                            </div>

                            <!--div class="row mt-5" style="display: flex; justify-content: space-around">
        
                              <div class="form-group col-sm-6">
                                 <button type="submit" class="btn btn-success btn-success text-white"
                                  [disabled]=" restituerClicked" (click)="payTransfertClicked()">{{((transfert.etatTransfert === 'a servir') && payTransferButtonClicked) ? "Confirme Extourne": "Extourne"}}</button> 
                              </div>
                              <div class="form-group col-sm-6">
                                <button type="submit" class="btn btn-success btn-success text-white"
                                  [disabled]="payTransferButtonClicked" (click)="RestituerClicked()">{{((transfert.etatTransfert === 'a servir') && restituerClicked) ? "Confirme Restituer": "Restituer"}}</button> 
                              </div>
                              <div class="form-group col-sm-6">
                                <button type="submit" class="btn btn-primary" (click)="changeTansfertState()">{{servirButton}}</button>
                              </div>
                              <div class="form-group col-sm-6">
                                <button type="submit" class="btn btn-danger"
                                  [disabled]="false" (click)="goBack()">Cancel</button>
                              </div>
      
                          </div-->
                      
              
            </form>
        
            </div>
        </div>

          
    </div>
        </div>
    </div>
  </main>
  