
<nav class="navbar navbar-expand-md navbar-light bg-primary fixed-top" >
    <div style="display :flex; justify-content: space-between;">
        <a class="navbar-brand" style="margin-left: 50px;padding-top:5px ;"> <span id="ensaSpan">TRANSFERT</span><span id="paySpan"> APPLICATION</span></a>
       
        
  <div style="margin-left:300px;" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="clientHome/Home">Home</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="clientHome/profile">Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Clients
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li *ngIf="isLoggedIn">
            <a class="dropdown-item" routerLink="clientHome/addClient">Add Clients</a>
          </li>
          <li *ngIf="isLoggedIn">
            <a class="dropdown-item" routerLink="clientHome/liste-clients">All Clients</a>
          </li>
          <li *ngIf="isLoggedIn">
            <a class="dropdown-item" routerLink="clientHome/liste-clients">Serve Client</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="clientHome/bankTransfert">Transfert</a>
      </li>
      <li class="nav-item"  *ngIf="(isLoggedIn)">
        <a class="nav-link" routerLink="clientHome/payBills">
            pay Bills 
        </a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn"  >
                   
        <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block">

            </div>
            <div class="dropdown-divider"></div>
            <div class="p-1">
                <button
                    class="btn btn-warning w-100 mt-1"
                    (click)="onLogout()" style="margin-left:25px;">

                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                </button>
            </div>
        </ul>
    </li>
    </ul>
  </div>
    </div>
</nav>
