<div class="container"  id="main-container" style="padding-top:100px;">
    <div class="h2 mb-5 p-3 border shadow" style="background-color: #e64d32;color : #fff;">
        All Agents list
        <div class="float-end">
            <div class="input-group">
                <input type="search" class="form-control" (ngModelChange) = "searchAgent(key.value)" #key="ngModel" ngModel
                name="key" placeholder="rechercher">
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-around">
        <div class="col-md-3 card text-center border shadow mx-2" *ngFor="let client of agents">
            <div class="card-header">
                <img src="./assets/user.png" class="img-fluid profile-image" width="100" style="margin: auto; border-radius: 50%;">

            </div>
            <div class="card-body">
            <div class="card-title">
                <div class="d-flex justify-content-between">
                    <div class=" mb-3 p-2 rounded-pill float-start" style = "background-color: #1FD1FD; color : #fff;">username</div>
                    <span class="fw-bold ms-5">{{client.userName}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <div class=" mb-3 p-2 rounded-pill float-start" style = "background-color: #1FD1FD; color : #fff;">First Name</div>
                    <span class="fw-bold ms-5">{{client.firstName}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <div class=" mb-3 p-2 rounded-pill float-start" style = "background-color: #1FD1FD; color : #fff;">Last Name</div>
                    <span class="fw-bold ms-5">{{client.lastName}}</span>
                </div>
            </div>
                <div class="d-flex justify-content-around">
                    <a (click) = "onOpenModal(client,'infos')" class="btn btn-primary m-1">Details</a>
                    <a (click) = "onOpenModal(client,'update')" class="btn btn-success m-1">Modifier</a>
                    <a (click) = "onOpenModal(client,'delete')" class="btn btn-danger m-1">Supprimer</a>
                </div>
            
            </div>
        </div>
    </div>

    <!-- display infos of client Modal -->
    <div class="modal fade" id="infosClientModal" tabindex="-1" role="dialog" aria-labelledby="infosClientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
             <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infosClientModalLabel">Informations on Client  {{clientChoosed.userName}}</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="row">
                        <div class="mx-auto">
                            <div class="card-text mt-5">
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">ID Client</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.id}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Gender</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.gender}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">First Name</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.firstName}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Last Name</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.lastName}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Naissance</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.birthday}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Email</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.email}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Telephone</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.phoneNumber}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Adresse</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.address}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Zip Code</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.zip_code}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">City</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.city}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Country</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.country}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Identity paper type</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.identity_paper_type}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Identity paper number</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.cinNumber}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Username</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.userName}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Password</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.password}}</span>
                                </div><hr>
                                <div class="d-flex justify-content-between">
                                    <div class=" mb-3 p-2 rounded-pill" style = "width : 40%;background-color: #1FD1FD; color : #fff;">Wallet Balance</div>
                                    <span class="fw-bold ms-5">{{clientChoosed.agentAccounts[0]?.balance}}</span>
                                </div><hr>
                                <div class="modal-footer">
                                    <button type="button" id="" data-bs-dismiss="modal" class="btn btn-secondary">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateClientModal" tabindex="-1" role="dialog" aria-labelledby="clientUpdateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="updateClientModalLabel">Modifier Client {{updateClient?.userName}}</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="name">ID Client</label>
                        <input disabled type="text" ngModel="{{updateClient?.id}}" name="id" class="form-control" id="name" aria-describedby="emailHelp">
                     </div>
                     <div class="form-group">
                        <label for="name">Gender</label>
                        <select ngModel="{{updateClient?.gender}}" name="gender" id="dropdownOption" class='form-control'>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                     <div class="form-group">
                        <label for="name">First Name</label>
                        <input type="text" ngModel="{{updateClient?.firstName}}" name="firstName" class="form-control" id="name" aria-describedby="emailHelp" placeholder="First Name">
                     </div>
                     <div class="form-group">
                        <label for="name">Last Name</label>
                        <input type="text" ngModel="{{updateClient?.lastName}}" name="lastName" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Last Name">
                     </div>
                     <div class="form-group">
                        <label for="name">Birthday</label>
                        <input type="text" ngModel="{{updateClient?.birthday}}" name="birthday" class="form-control" id="name" aria-describedby="emailHelp" placeholder="birthday">
                     </div>
                     <div class="form-group">
                        <label for="name">Email</label>
                        <input type="text" ngModel="{{updateClient?.email}}" name="email" class="form-control" id="name" aria-describedby="emailHelp" placeholder="email">
                     </div>
                     <div class="form-group">
                        <label for="name">Phone Number</label>
                        <input type="text" ngModel="{{updateClient?.phoneNumber}}" name="phoneNumber" class="form-control" id="name" aria-describedby="emailHelp" placeholder="phoneNumber">
                     </div>
                     <div class="form-group">
                        <label for="name">Address</label>
                        <input type="text" ngModel="{{updateClient?.address}}" name="address" class="form-control" id="name" aria-describedby="emailHelp" placeholder="address">
                     </div>
                     <div class="form-group">
                        <label for="name">Zip Code</label>
                        <input type="text" ngModel="{{updateClient?.zip_code}}" name="zipCode" class="form-control" id="name" aria-describedby="emailHelp" placeholder="zipCode">
                     </div>
                     <div class="form-group">
                        <label for="name">City</label>
                        <input type="text" ngModel="{{updateClient?.city}}" name="city" class="form-control" id="name" aria-describedby="emailHelp" placeholder="city">
                     </div>
                     <div class="form-group">
                        <label for="name">Country</label>
                        <input type="text" ngModel="{{updateClient?.country}}" name="country" class="form-control" id="name" aria-describedby="emailHelp" placeholder="country">
                     </div>
                     <div class="form-group">
                        <label for="name">Identity Paper Type</label>
                        <select ngModel="{{updateClient?.identity_paper_type}}" name="identity_paper_type" id="dropdownOption" class='form-control'>
                            <option value="CIN">C.I.N</option>
                            <option value="Passport">Passport</option>
                            <option value="Driver_License">Driver License</option>
                            </select>
                    </div>
                     <div class="form-group">
                        <label for="name">Identity Paper Number</label>
                        <input type="text" ngModel="{{updateClient?.cinNumber}}" name="cinNumber" class="form-control" id="name" aria-describedby="emailHelp" placeholder="CIN Number">
                     </div>
                     <div class="form-group">
                        <label for="name">Username</label>
                        <input type="text" ngModel="{{updateClient?.userName}}" name="userName" class="form-control" id="name" aria-describedby="emailHelp" placeholder="username">
                     </div>
                    
                     <div class="form-group">
                        <label for="name">Account Balance</label>
                        <input type="number" ngModel={{updateClient.agentAccounts[0]?.balance}} name="balance" class="form-control" id="name" aria-describedby="emailHelp" placeholder="balance">
                     </div>
                     
                     <div class="modal-footer">
                        <button type="button" id="" data-bs-dismiss="modal" class="btn btn-secondary">Fermer</button>
                        <button (click)="onUpdateAgent(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Enregistrer</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
    </div>
    <div *ngIf="agents?.length == 0" class="col-lg-12 col-md-12 col-xl-12 mt-5">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">AUCUN CLIENTS!</h4>
            <p>Aucun Client n'a été trouvé</p>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteClientModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="deleteModelLabel">Supprimer Client</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <p>Etes vous sûr de vouloir supprier le client  {{deleteClient.userName}} ?</p>
              <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                 <button   class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
              </div>
           </div>
     </div>
   </div>
</div>

