<!-- Section: Design Block -->
<div id="mainContainer" style="text-align: center;">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
      background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
      height: 300px;
      "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
      "
      >
      <div class="card-body py-5 px-md-5">

          <div class="container mt-5" style="padding-top:10px ;">
              <div class="h2 mb-5 p-3 border" style="background-color: #3286E6;color : #fff">
                  TRANSFERT MONEY
              </div>
              <div class="card">
                  <div class="card-body" style="background-color: #D4D5D5;">
                      <form #clientForm="ngForm" (ngSubmit)="onSearch()">
                            <div class="row mb-1">
                              <div>
                                  <label for="transfert_type" class="form-label">Transfert Type</label>
                             
                              <select [(ngModel)]='transfert_type' name="dropdownOption" id="dropdownOption" class='form-control'>
                                  <option value="1">DEBIT DE COMPTE</option>
                                  <option value="2">EN ESPECE</option>
                                  </select>
                              </div>
                          </div>
                          <div *ngIf="transfert_type==1" class="row mb-1">
                              <div style="padding-top: 10px;">
                                  <label class="form-label">Phone Number</label>
                                  <input required id="phoneNumber" class="form-control shadow" type="text" placeholder="Enter your Phone Number"
                                   name="phoneNumber">
                                </div>
                              <div style="padding-top: 20px ;">
                              <button type="submit" class="btn btn-primary">Search</button></div>
                          </div>
                          <div *ngIf="transfert_type==2" class="row mb-1">
                              <div style="padding-top: 10px;">
                                  <label for="identity_paper_type" class="form-label">Identity Paper Type</label>
                                  <select [(ngModel)]='identity_paper_type ' name="dropdownOption" id="dropdownOption" class='form-control'>
                                  <option value="1">C.I.N</option>
                                  <option value="2">Passport</option>
                                  <option value="3">Driver License</option>
                                  </select>
                              </div>
                              <div style="padding-top: 10px;">
                                  <label class="form-label">Identity Paper Number</label>
                                  <input required id="phoneNumber" class="form-control shadow" type="text" placeholder="Enter your Identity Paper Number"
                                   name="Identity_paper_number">
                                </div>
                              <div style="padding-top: 20px ;">
                              <button  class="btn btn-primary" type="submit" >Search</button></div>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="card" *ngIf="Search==true" style="margin-top:20px">
                  <div class="card-body" style="background-color: #D4D5D5;">
                      <form  #clientForm="ngForm" style="padding-bottom: 20px;">
                            <span style="font-weight: bold; font-size: 20px; margin: vertical 5px;">Sender Client Informations </span> <hr>
                          <div class="row mb-1">
                            <div class="col-md-6">
                              <label for="firstName" class="form-label">First Name</label>
                              <input required id="username" class="form-control shadow" type="text" placeholder="Enter your First Name"
                               name="firstName">
                            </div>
                            <div class="col-md-6">
                              <label for="lastName" class="form-label">Last Name</label>
                              <input required id="username" class="form-control shadow" type="text" placeholder="Enter your Last Name"
                               name="lastName">
                            </div>
                          </div>
                          <div class="row" style="padding-top: 15px;">
                            <div class="col-md-6">
                              <label class="form-label">Phone Number</label>
                              <input required id="phoneNumber" class="form-control shadow" type="text" placeholder="Enter your Phone Number"
                              name="phoneNumber">
                            </div>
                            <div class="col-md-6">
                              <label class="form-label">Email</label>
                              <input required id="email" class="form-control shadow" type="text" name="" placeholder="Enter your email"
                              name="email">
                            </div>
                            <div class="row" style="padding-top: 15px;">
                              <div class="col-md-6">
                                <label class="form-label">Birthday</label>
                                <input required id="birthday" class="form-control shadow" type="date" placeholder="Enter your Phone Number"
                                [(ngModel)] = 'client.birthday' name="birthday">
                              </div>
                              <div class="col-md-6">
                                <label class="form-label">Gender</label>
                                <select [(ngModel)]='client.gender' name="dropdownOption" id="dropdownOption" class='form-control'>
                                  <option value="1">Male</option>
                                  <option value="2">Female</option>
                                  </select>
                              </div>
                            </div>
                            <div class="row" style="padding-top: 15px;">
                              <div class="col-md-6">
                                <label class="form-label">Address</label>
                                <input required id="address" class="form-control shadow" type="text" placeholder="Enter your address"
                                [(ngModel)] = 'client.address' name="address">
                              </div>
                              <div class="col-md-2">
                                <label class="form-label">City</label>
                                <input required id="city" class="form-control shadow" type="text" placeholder="Enter your city"
                                [(ngModel)] = 'client.city' name="city">
                              </div>
                              <div class="col-md-2">
                                <label class="form-label">Zip Code</label>
                                <input required id="zip_code" class="form-control shadow" type="number" placeholder="Enter your zip code"
                                [(ngModel)] = 'client.zip_code' name="zip_code">
                              </div>
                              <div class="col-md-2">
                                <label class="form-label">Country</label>
                                <input required id="country" class="form-control shadow" type="text" placeholder="Enter your country"
                                [(ngModel)] = 'client.country' name="country">
                              </div>
                              <div class="col-md-6" style="padding-top: 15px;">
                                <label for="identity_paper_type" class="form-label">Identity Paper Type</label>
                                <select [(ngModel)]='client.identity_paper_type' name="dropdownOption" id="dropdownOption" class='form-control'>
                                <option value="1">C.I.N</option>
                                <option value="2">Passport</option>
                                <option value="3">Driver License</option>
                                </select>
                            </div>
                            <div class="col-md-6" style="padding-top: 15px;">
                                <label class="form-label">Identity Paper Number</label>
                                <input required id="Identity_paper_number" class="form-control shadow" type="text" placeholder="Enter your Identity Paper Number"
                                 name="Identity_paper_number" [(ngModel)] = 'client.cinNumber' name="Identity_paper_number">
                              </div>
                            </div>
                         
                            <div style="padding-top: 20px;" >
                              <label class="form-label">Transfert Reason</label>
                              <select [(ngModel)]='transfert_type' name="dropdownOption" id="dropdownOption" class='form-control'>
                                <option value="Soutien Familial">Soutien Familial</option>
                                <option value="Epargne/investissement">Epargne/investissement</option>
                                <option value="Paiement de biens et de services">Paiement de biens et de services</option>
                                <option value="Frais de dépassement ">Frais de dépassement </option>
                                <option value="Frais éducation">Frais éducation</option>
                                <option value="Location/Hypothèque">Location/Hypothèque</option>
                                <option value="Aide de secours/Médicale">Aide de secours/Médicale</option>
                                <option value="Revenu d un site internet">Revenu d un site internet</option>
                                <option value="Dépenses salariales">Dépenses salariales</option>
                                <option value="Frais de loterie ou récompense/taxes">Frais de loterie ou récompense/taxes</option>
                                <option value="Prêt">Prêt</option>
                                <option value="Commerce sur internet">Commerce sur internet</option>
                                <option value="Donation">Donation</option>
                                <option value="Autres (à préciser)">Autres (à préciser)</option>

                              </select>
                            </div>
                            <div  style="padding-top: 20px;">
                              <label class="form-label">Notification</label>
                                <mat-card class="form-control shadow" >
                                  <mat-card-content>
                                <section class="example-section">
                                  <mat-checkbox  >Checked</mat-checkbox>
                                </section>
                              </mat-card-content>
                          </mat-card></div>
                          <div >
                              <label class="example-margin" style="padding-top: 20px; padding-bottom:20px;"> Cost management</label>
                              <mat-card>
                                  <mat-card-content>
                                <section class="example-section">
                                  <mat-radio-group>
                                    <mat-radio-button class="example-margin" value="1"  style="margin-right:70px; "> Costs to be paid by the ordering customer</mat-radio-button>
                                    <mat-radio-button class="example-margin" value="2" style="margin-right:70px; "> Fees to be paid by the beneficiary client</mat-radio-button>
                                    <mat-radio-button class="example-margin" value="3"> Shared costs between clients (Principal and beneficiary)</mat-radio-button>
                                  </mat-radio-group>
                          
                                </section>
                                </mat-card-content>
                              </mat-card>
                                </div>
                                <div style="padding-top: 20px ;">
                                  <button type="submit" class="btn btn-primary">Add Prospect Client</button>
                                </div>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="card" style="margin-top:20px" *ngIf="Search==true">
                  <div class="card-body" style="background-color: #D4D5D5;">
                    <span style="font-weight: bold; font-size: 20px; margin: vertical 5px;">Receiver Client Informations </span> <hr>
                          <div class="row mb-1">
                      <form #clientForm="ngForm" (ngSubmit)="onSearchReceiver()">
                        <div style="padding-top: 10px;">
                          <label class="form-label">Identity Paper Number</label>
                          <input required id="phoneNumber" class="form-control shadow" type="text" placeholder="Enter your Identity Paper Number"
                           name="Identity_paper_number">
                        </div>
                        <div style="padding-top: 20px ;padding-bottom: 20px;">
                          <button type="submit" class="btn btn-primary">Search</button>
                          <a (click) = "onOpenModal(client,'add')" class="btn btn-success m-1">Add Reciever Client</a>
                        </div>
                         <!-- Add Reciever Client Modal -->

                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                              <th scope="col">First Name</th>
                              <th scope="col">Last Name</th>
                              <th scope="col">Phone Number</th>
                              <th scope="col">Amount</th>

                              <th scope="col">Identity_paper_number</th>
                            </tr>
                          </thead>
                          <tbody id="excel-table">
                           <!--tr
                              *ngFor="let item of listData">
                              <input type="radio" name="choice" />
                              <th>&nbsp; {{ item.firstName }} &nbsp;&nbsp;</th>
                              <th>&nbsp; {{ item.lastName }}</th>
                              <th>&nbsp; {{ item.phoneNumber}}</th-->
                                <tr>
                                  <th scope="row"><input type="checkbox" name="choice1" /></th>
                                  <td>Sara</td>
                                  <td>Chakir</td>
                                  <td>765433</td>
                                  <td>              <input type="text" ngModel name="amount" class="form-control" id="firstName" placeholder="enter Amount" required disabled="true">
                                  </td>

                                  <td>PA123456</td>
                                </tr>
                                <tr>
                                  <th scope="row"><input type="checkbox" name="choice2" /></th>
                                  <td>Yassmin</td>
                                  <td>Kardad</td>
                                  <td>948774</td>
                                  <td>              <input type="text" ngModel name="amount" class="form-control" id="firstName" placeholder="enter Amount" required disabled="true">
                                  </td>
                                  <td>DA123456</td>
                                </tr>
                                <tr>
                                  <th scope="row"><input type="checkbox" name="choice3" /></th>
                                  <td>Frederec</td>
                                  <td>Faya</td>
                                  <td>765439483</td>
                                  <td>              <input type="text" ngModel name="amount" class="form-control" id="firstName" placeholder="enter Amount" required disabled="true">
                                  </td>
                                  <td>FA123456</td>
                                </tr>
                                <tr>
                                  <th scope="row"><input type="checkbox" name="choice4" /></th>
                                  <td>Soukaina</td>
                                  <td>El Abbasy</td>
                                  <td>765439483</td>
                                  <td>              <input type="text" ngModel name="amount" class="form-control" id="firstName" placeholder="enter Amount" required disabled="true">
                                  </td>
                                  <td>FA123456</td>
                                </tr>
                                <tr>
                                  <th scope="row"><input type="checkbox" name="choice5" /></th>
                                  <td>Hamza</td>
                                  <td>Nassour</td>
                                  <td>765439483</td>
                                  <td>              <input type="text" ngModel name="amount" class="form-control" id="firstName" placeholder="enter Amount" required disabled="true">
                                  </td>
                                  <td>FA123456</td>
                                </tr>
                                <tr>
                                  <th scope="row"><input type="checkbox" name="choice6" /></th>
                                  <td>AbdelMounaim</td>
                                  <td>El Moussaddar</td>
                                  <td>765439483</td>
                                  <td>              <input type="text" ngModel name="amount" class="form-control" id="firstName" placeholder="enter Amount" required disabled="true">
                                  </td>
                                  <td>FA123456</td>
                                </tr>
                              <!--th>&nbsp; <button class="btn btn-danger">Delete</button></th-->
                          </tbody>
                        </table>
                        <div style="padding-top: 20px ;padding-bottom: 20px;" *ngIf="Search==true">
                          <button type="submit" class="btn btn-primary">Finish</button>
                      </div>
                      </form>
                  </div>
              </div>
            </div>
            <div style="margin-top: 20px ;padding-bottom: 20px;" *ngIf="SearchReceiver==true">
              <form #clientForm="ngForm" (ngSubmit)="onSendOTP()"> 
                <button type="submit" class="btn btn-primary">Send OTP Code</button>
              </form>
            </div>
            <div class="card" style="margin-top:20px" *ngIf="sendOTP==true">
              <div class="card-body" style="background-color: #D4D5D5;">
                <span style="font-weight: bold; font-size: 20px; margin: vertical 5px;">OTP Verification</span> <hr>
                      <div class="row mb-1">
                  <form #clientForm="ngForm" (ngSubmit)="verifyOTP()">
                    <div style="padding-top: 10px;">
                      <label class="form-label">OTP Code</label>
                      <input required id="phoneNumber" class="form-control shadow" type="text" placeholder="Enter the OTP received by SMS"
                       name="Identity_paper_number">
                    </div>
                    <div style="padding-top: 20px ;padding-bottom: 20px;">
                      <button type="submit" class="btn btn-primary">Verify</button>
                    </div>
                  </form>
              </div>
          </div>
        </div>
        <form #clientForm="ngForm" (ngSubmit)="finalize()" *ngIf="OTPVerified==true">
          <div style="padding-top: 20px ;padding-bottom: 20px;">
            <button type="submit" class="btn btn-danger">Finish Transaction</button>
          </div>
        </form>
      </div>
  </div>
</div>

<!-- Ajouter les modals en dehors de toute div pour qu'ils s'affichent -->

<div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addClientModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addClientModalLabel">Add Receiver Client</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddClient()">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" ngModel name="firstName" class="form-control" id="firstName" placeholder="firstName" required>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="lastName" required>
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone</label>
              <input type="text" ngModel name="phoneNumber" class="form-control" id="phoneNumber" placeholder="phoneNumber" required>
            </div>
            
          </form>
          <div class="modal-footer">
            <button type="button" id="add-employee-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save</button>
          </div>
        </div>
    </div>
  </div>
</div>


