<div class="container" >   
    <div class="container mb-5">
        <div class="row">
        <div class="col-md-6"style="padding-top: 100px;">
            <img src="../../../assets/images/undraw_welcome_re_h3d9.svg" alt="Image" class="img-fluid">
        </div>
        
        <div class="col-md-6 contents text-center align-items-center m-auto">
            <span class="fw-bolder font-monospace fs-1" style="font-size: 1000px;"> Welcome  </span><br>
        </div>
        </div>
    </div>
    <div class="row" style="height: 90px;">

    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
        <div class="col-md-4">
        <div class="card">
            <img src="../../../assets/images/undraw_book_lover_re_rwjy.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary mt-5 mb-5 btn-lg" routerLink = "clientHome/profile">
                        Consult agent profile
                    </button>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-4">
        <div class="card">
            <img src="../../../assets/images/undraw_group_hangout_re_4t8r.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary mt-4 mb-5 btn-lg"  routerLink="/creationCompteClient">
                        Add client
                    </button>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-4">
        <div class="card">
            <img src="../../../assets/images/undraw_people_re_8spw.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary mt-5 mb-5 btn-lg" routerLink="/listeClients">
                        get clients list
                    </button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
